body {
  background-color: green; color: white;
}
#quote-box {
  margin: 80px auto;
}
@media only screen and (max-width: 440px) {
  #quote-box {
    margin: 20px auto;
  }
  button {
    width: 100%;
  }
  .row {
    margin: 0;
  }
}