body {
  background-color: green; color: white;
}
#quote-box {
  margin: 80px 2% 0;
}
@media only screen and (max-width: 440px) {
  #quote-box {
    margin-top: 20px;
  }
  button {
    width: 100%;
  }
}